{% extends "base.html" %}

{% block img %}<img src="assets/img/02_mirko.jpg" alt="hairdresser" class="img-responsive">{% endblock img %}

{% block tekst %}<h1><b>Frizerstvo Mirko - za izbirčneže</b></h1>

      <div class="row">
          <div class="col-sm-4">
              <h2>Zakaj nam zaupati svoje lasje</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu velit interdum nulla viverra imperdiet id feugiat urna. Quisque tellus odio, venenatis ut mi vitae, tempor tincidunt augue. Nullam nec accumsan orci. Proin efficitur est elit, nec pellentesque metus ornare at. Nunc ac tellus non est pharetra rhoncus. Nam ut gravida nisi, ultrices malesuada dolor. Aenean viverra molestie eleifend. Cras sodales leo vitae est aliquam finibus.</p>
          </div>
          <div class="col-sm-4">
              <h2>Šolanje frizerjev</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu velit interdum nulla viverra imperdiet id feugiat urna. Quisque tellus odio, venenatis ut mi vitae, tempor tincidunt augue. Nullam nec accumsan orci. Proin efficitur est elit, nec pellentesque metus ornare at. Nunc ac tellus non est pharetra rhoncus. Nam ut gravida nisi, ultrices malesuada dolor. Aenean viverra molestie eleifend. Cras sodales leo vitae est aliquam finibus.</p>
          </div>
          <div class="col-sm-4">
              <h2>V koraku z modo</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu velit interdum nulla viverra imperdiet id feugiat urna. Quisque tellus odio, venenatis ut mi vitae, tempor tincidunt augue. Nullam nec accumsan orci. Proin efficitur est elit, nec pellentesque metus ornare at. Nunc ac tellus non est pharetra rhoncus. Nam ut gravida nisi, ultrices malesuada dolor. Aenean viverra molestie eleifend. Cras sodales leo vitae est aliquam finibus.</p>

      </div>

{% endblock tekst %}





