{% extends "base.html" %}

{% block img %}<img src="assets/img/01_mirko.jpg" alt="hairdresser" class="img-responsive">{% endblock img %}

{% block tekst %}
<h1><b>Kaj nudimo</b></h1>

      <div class="row">
          <div class="col-sm-4">
              <h2>Nega las</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu velit interdum nulla viverra imperdiet id feugiat urna. Quisque tellus odio, venenatis ut mi vitae, tempor tincidunt augue. Nullam nec accumsan orci. Proin efficitur est elit, nec pellentesque metus ornare at. Nunc ac tellus non est pharetra rhoncus. Nam ut gravida nisi, ultrices malesuada dolor. Aenean viverra molestie eleifend. Cras sodales leo vitae est aliquam finibus.</p>
          </div>
          <div class="col-sm-4">
              <h2>Barvanje</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu velit interdum nulla viverra imperdiet id feugiat urna. Quisque tellus odio, venenatis ut mi vitae, tempor tincidunt augue. Nullam nec accumsan orci. Proin efficitur est elit, nec pellentesque metus ornare at. Nunc ac tellus non est pharetra rhoncus. Nam ut gravida nisi, ultrices malesuada dolor. Aenean viverra molestie eleifend. Cras sodales leo vitae est aliquam finibus.</p>
          </div>
          <div class="col-sm-4">
              <h2>Striženje</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu velit interdum nulla viverra imperdiet id feugiat urna. Quisque tellus odio, venenatis ut mi vitae, tempor tincidunt augue. Nullam nec accumsan orci. Proin efficitur est elit, nec pellentesque metus ornare at. Nunc ac tellus non est pharetra rhoncus. Nam ut gravida nisi, ultrices malesuada dolor. Aenean viverra molestie eleifend. Cras sodales leo vitae est aliquam finibus.</p>
          </div>

      </div>
{% endblock tekst %}